In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = r'E:\Documents\2nd-ML100Days\D2\data'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
print(app_train.dtypes.value_counts())
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis=0)

float64    65
int64      41
object     16
dtype: int64

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le_count = 0

for col in app_train:
    if app_train[col].dtype == 'object':
        if len(list(app_train[col].unique())) <= 2:
            print(app_train[[col]].head())
            le.fit(app_train[col])
            app_train[col] = le.transform(app_train[col])
            print(app_train[[col]].head())
            le_count += 1
            
print(le_count)

  NAME_CONTRACT_TYPE
0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
4         Cash loans
   NAME_CONTRACT_TYPE
0                   0
1                   0
2                   1
3                   0
4                   0
  FLAG_OWN_CAR
0            N
1            N
2            Y
3            N
4            N
   FLAG_OWN_CAR
0             0
1             0
2             1
3             0
4             0
  FLAG_OWN_REALTY
0               Y
1               N
2               Y
3               Y
4               Y
   FLAG_OWN_REALTY
0                1
1                0
2                1
3                1
4                1
3

In [5]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [13]:
"""
Your Code Here
"""
subtrain = pd.get_dummies(sub_train)
print(subtrain.shape)
subtrain.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [12]:
sub_train

       WEEKDAY_APPR_PROCESS_START
0                       WEDNESDAY
1                          MONDAY
2                          MONDAY
3                       WEDNESDAY
4                        THURSDAY
5                       WEDNESDAY
6                          SUNDAY
7                          MONDAY
8                       WEDNESDAY
9                        THURSDAY
10                       SATURDAY
11                         FRIDAY
12                         FRIDAY
13                       THURSDAY
14                         MONDAY
15                       SATURDAY
16                       THURSDAY
17                         MONDAY
18                         FRIDAY
19                         MONDAY
20                         FRIDAY
21                         MONDAY
22                       THURSDAY
23                         FRIDAY
24                       THURSDAY
25                       SATURDAY
26                         MONDAY
27                       SATURDAY
28                      WEDNESDAY
29                        TUESDAY
...                           ...
307481                     FRIDAY
307482                   THURSDAY
307483                     MONDAY
307484                     MONDAY
307485                   SATURDAY
307486                   SATURDAY
307487                  WEDNESDAY
307488                  WEDNESDAY
307489                     FRIDAY
307490                   SATURDAY
307491                   SATURDAY
307492                     FRIDAY
307493                     MONDAY
307494                     MONDAY
307495                  WEDNESDAY
307496                   THURSDAY
307497                   THURSDAY
307498                     MONDAY
307499                    TUESDAY
307500                     FRIDAY
307501                  WEDNESDAY
307502                     MONDAY
307503                   SATURDAY
307504                  WEDNESDAY
307505                     MONDAY
307506                   THURSDAY
307507                     MONDAY
307508                   THURSDAY
307509                  WEDNESDAY
307510                   THURSDAY

[307511 rows x 1 columns]